<div class="centered-content">
  <div class="task-manager-container">
    <!-- List Sidebar -->
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <div class="list-menu">
        <a href="" class="list-menu-item is-active">
          <p>List #1</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List #2</p>
        </a>
        <a href="" class="list-menu-item">
          <p>List #3</p>
        </a>
      </div>
      <!-- Button to create a new task list -->
      <button class="button is-primary has-text-white">+ New List</button>
    </div>

    <!-- Task Sidebar -->
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>

      <!-- Task elements -->
      <div class="task">
        <p>This is a to do</p>
      </div>
      <div class="task">
        <p>This is a to do</p>
      </div>
      <div class="task complete">
        <p>This is a completed todo</p>
      </div>
    </div>
  </div>
</div>
